<div id='users'>
  <div id='activeUsers'>
    {{#each activeUsers}}
      <div id="img{{username}}" class="avatar">
        <img width='64' height='64' src="http://www.gravatar.com/avatar/{{email}}?s=64" title="{{name}}"/>
        <div>{{name}}</div>
      </div>
    {{/each}}
  </div>

  <div id='inactiveMenu'>
    <div id='inactiveMenuButton'>Inactive Members</div>
    <ul id='inactiveUsers' class='closed'>
      {{#each inactiveUsers}}
	<li>{{name}}</li>
      {{/each}}
    </ul>
  </div>
</div>
